/*#fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}*/

#img-b   {
  width: 200px;
  height: auto;
  max-width: 200px;
  vertical-align: middle;
  padding: 5px;
  border: 0;

  -ms-interpolation-mode: bicubic;
}

#kanan-t{
	font-size: 30px;
	text-align: right;
	vertical-align: bottom;
}

#pading-header{
	padding-top: 20px;
	text-align: center;
}

#ijo{
	color:green;
}

#biru{
	color: blue;
}

#merah{
	color: red;
}
#bg-merah{
	background-color: red;
}
#bg-abu{
	background-color: #464646;
}
#bg-footerTop{
	background-color: #464646;
}
#footer1{
	text-align: left;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #464646;
}
#footer2{
	text-align: left;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	background-color: #464646;
}
#footer3{
	text-align: center;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: red;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

